.Drawer {
  position: fixed;
  max-width: 300px;
  display: block !important;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  padding: 20px 10px;
  box-sizing: border-box;
  background: #fff;
  z-index: 90;
  transform: translateX(0px);
  transition: transform 0.22s ease-in;
}
.Drawer.close {
  transform: translateX(300px);
}
.Drawer ul {
  list-style-type: none;
  margin: 0;
  padding: 60px 0 0;
}
.Drawer ul li {
  width: 100%;
  display: block;
  padding: 0;
  position: relative;
  text-align: left;
}
.Drawer ul li:after {
  width: calc(100% - 30px);
  height: 1px;
  content: "";
  display: block;
  margin-left: 15px;
  background-color: #d6e6f9;
}
.Drawer ul li a {
  margin: 0px;
  display: inline-flex;
  padding: 15px;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity 0.3;
  width: calc(100% - 60px);
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 6px;
}
.Drawer ul li a:hover {
  background-color: #e5e5e5;
}
