.MenuLinks {
  box-sizing: border-box;
  background: transparent;
  transition: transform 0.22s ease-in;
}
.MenuLinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
}
.MenuLinks ul li {
  /* margin-bottom: 15px; */
  display: inline-block;
}
.MenuLinks ul li a {
  /* color: #363d54; */
  color: #12243e;
  font-size: 14px;
  /* text-transform: uppercase; */
  text-decoration: none;
  position: relative;
  padding: 15px;
  border-radius: 3px;
  transition: opacity 0.3;
  font-weight: 400;
}
.MenuLinks ul li a:hover {
  background: rgba(200, 200, 200, 0.2);
}
