.hello-text {
  text-align: center;
  /* background-image: url(../../assets/img/11.jpg); */
  background-position: center center;
  background-size: 45%;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  max-width: 400px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
@media (min-width: 992px) {
  .hello-text {
    text-align: left;
  }
}
