.hello-text {
  text-align: center;
}
.form {
  max-width: 400px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
@media (min-width: 992px) {
  .hello-text {
    text-align: left;
  }
}
