.FormDialog {
  padding: 25px 25px 60px;
  width: 100%;
  max-width: 550px;
  background-color: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 99;
}
.FormDialog h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.wrapperDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.socialIcons {
  display: block;
  text-align: center;
  margin: 20px 0 15px;
  padding-bottom: 30px;
  border-bottom: solid 1px #ccc;
}
.headerDialog {
  min-height: 48px;
  margin-bottom: 0px;
  padding: 5px;
}
.headerDialog button {
  float: right;
  box-sizing: border-box;
}
.bodyDialog {
  padding: 5px 30px 30px;
}

@media (min-width: 576px) {
  .socialIcons {
    display: flex;
    justify-content: space-around;
    margin: 45px 0 30px;
    padding-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .socialIcons button img {
    width: 42px;
  }
}
