.Header {
  top: 0;
  width: 100%;
  display: flex;
  height: 75px;
  background-color: transparent;
}
.Header nav {
  display: none;
}
.Header.fix {
  height: 50px;
}
.Header-container {
  flex: 1;
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-wrap: nowrap;
  min-height: 50px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  box-sizing: border-box;
}
.Search div {
  width: 510px;
}
.menuButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.green {
  color: #fff !important;
  background-color: #58cd5e !important;
  margin-left: 10px !important;
}
.login {
  margin-left: 75px !important;
}
.create {
  margin-left: 15px !important;
}
.create,
.login,
.green,
.searchButton {
  text-transform: none !important;
}
@media (min-width: 576px) {
  .Header-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .Header-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .Header-container {
    max-width: 960px;
  }
  .Header nav {
    display: block;
  }
}
@media (min-width: 1200px) {
  .Header-container {
    max-width: 1140px;
  }
}
